/* You can add global styles to this file, and also import other style files */

/* Import variables and mixins */
@use "styles/index" as *;

/* Import PrimeIcons */
@import "primeicons/primeicons.css";

/* Import Google Fonts - Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* CSS Reset para eliminar espacios en blanco por defecto */
* {
  @include reset-element;
}

html,
body {
  @include reset-element;
  width: 100%;
  height: 100%;
  font-family: $font-family;
}

body {
  background-color: $background-main;
}
